<div class="skeleton-content">
  <div class="skeleton skeleton-text w-20 mb-1rem ml-05rem"></div>
  <div class="product-brand-group">
    <!-- Product Brand Item -->
    <div class="product-brand">
      <img alt="" class="skeleton skeleton-product-image" />

      <div class="skeleton skeleton-text"></div>
      <div class="skeleton skeleton-text w-40 h-40"></div>
      <div class="pt-20">
        <div class="skeleton skeleton-text h-40"></div>
      </div>
    </div>
    <!-- Product Brand Item -->
    <div class="product-brand">
      <img alt="" class="skeleton skeleton-product-image" />

      <div class="skeleton skeleton-text"></div>
      <div class="skeleton skeleton-text w-40 h-40"></div>
      <div class="pt-20">
        <div class="skeleton skeleton-text h-40"></div>
      </div>
    </div>
    <!-- Product Brand Item -->
    <div class="product-brand">
      <img alt="" class="skeleton skeleton-product-image" />

      <div class="skeleton skeleton-text"></div>
      <div class="skeleton skeleton-text w-40 h-40"></div>
      <div class="pt-20">
        <div class="skeleton skeleton-text h-40"></div>
      </div>
    </div>
  </div>
</div>
