<div class="wrapper">
  <a class="card" id="card-link" target="_blank">
    <div class="slider-icon-group">
      <div class="slider-icon">
        <img alt="" class="skeleton skeleton-icon" />
        <div class="slider-icon-text">
          <div class="skeleton skeleton-text"></div>
          <div class="skeleton skeleton-text"></div>
        </div>
      </div>
      <div class="slider-icon">
        <img alt="" class="skeleton skeleton-icon" />
        <div class="slider-icon-text">
          <div class="skeleton skeleton-text"></div>
          <div class="skeleton skeleton-text"></div>
        </div>
      </div>
      <div class="slider-icon">
        <img alt="" class="skeleton skeleton-icon" />
        <div class="slider-icon-text">
          <div class="skeleton skeleton-text"></div>
          <div class="skeleton skeleton-text"></div>
        </div>
      </div>
      <div class="slider-icon">
        <img alt="" class="skeleton skeleton-icon" />
        <div class="slider-icon-text">
          <div class="skeleton skeleton-text"></div>
          <div class="skeleton skeleton-text"></div>
        </div>
      </div>
    </div>
  </a>

  <app-slider-banner></app-slider-banner>

  <app-skeleton-product-brand></app-skeleton-product-brand>
  <app-skeleton-product-brand></app-skeleton-product-brand>
</div>
